<div id="video" title="<%= @greeting.song.id %>">
</div>
<p>
  Greeting id <%= @greeting.id %> with song id  <%= @greeting.song.id %>  from <%= @greeting.from %> to <%= @greeting.to %> at url <%= @greeting.url %>
</p>