<div id="video" title="<%= @greeting.song.id %>">
</div>
<div id="greeting">
  Greeting id <%= @greeting.id %> with song id  <%= @greeting.song.id %>  from <%= @greeting.from %> to <%= @greeting.to %> at url <%= @greeting.url %>
  <br /><br />
  <%= @greeting.message %>
</div>